.badge{
  margin-top: 10px;
}

.collapsible{
  margin-top: 40px;
}

.flex{
  display: flex;
  align-items: flex-end;

}

.flexmain{
  display: flex;
  align-items: center;
  justify-content: space-between;
}